.sign-up{
  padding-top:110px;
  padding-left:20px;
  font-size:2rem;
  font-weight: bold;
}
.sign-up-main{
  padding-top:50px;
  padding-left:20px;
}

.log-in{
  padding-top:110px;
  padding-left:20px;
  font-size:2rem;
  font-weight: bold;
}

.log-in-main{
  padding-top:50px;
  padding-left:20px;
}

.pass-edit{
  padding-top:110px;
  padding-left:20px;
  font-size:2rem;
  font-weight: bold;
}

.pass-new{
  padding-top:110px;
  padding-left:20px;
  font-size:2rem;
  font-weight: bold;
}
.registration-edit{
  padding-top:110px;
  padding-left:20px;
  font-size:2rem;
  font-weight: bold;
}

.unlock-new{
  padding-top:110px;
  padding-left:20px;
  font-size:2rem;
  font-weight: bold;

}
