.new-page{
  height:100%;
  width:100%;
  background-color:rgba(220, 220, 241, 0.9);
  padding-top:60px;

}
.edit-page{
  height:100%;
  width:100%;
  background-color:rgba(220, 220, 241, 0.9);
  padding-top:60px;

}